html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); 
	/* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* styles for the deck of cards */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	/* changed from 0 to 360deg */
    transform: rotateY(360deg);
	/* added transition-duration for how long it take for card to open */
    transition-duration: 500ms;
    background: #02b3e4;
    cursor: default; /* not sure if this line is needed */
    /* Added - switch off pointer-events while card revealed - https://css-tricks.com/almanac/properties/p/pointer-events/ */
    pointer-events: none;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: green;
    font-size: 33px;
	/* Added - switch off pointer-events while cards matched */
    pointer-events:  none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
	/* added gold color to the stars but is reset by app.js*/
    color:  gold;
}

.score-panel .restart {
    float:  right;
    cursor: pointer;
}

.restart {
	padding-left: 2em;
}

/* All below this line are added from the starter file */
.moves {
    padding-left: 2em;
}

.gameTime {
	padding-left: 2em;
}

/* modal stuff */
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* end modal stuff */


/* MQ for mobile responsiveness*/
@media only screen and (max-width: 700px) {
	.score-panel {
        width: 90%;
    }

    .deck {
        width: 95%;
        padding: 16px;
        min-height: 100vw;
    }

    .deck .card {
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (max-width: 1024px) {
    .score-panel {
        font-size: 20px;
    }
}

/* end of file */